<div *ngIf="!isAuth" class="wrapper">
    <div>
      <img
        src="https://i.pinimg.com/originals/eb/20/de/eb20de6111f9c07ecb253814f1156a3d.jpg"
        alt=""
      />
    </div>
    
    <div class="input_block">
      <label>
        Введите ваше имя
        <input class="input_name" [(ngModel)]="name" type="text" />
      </label>
    </div>
    <div class="btn_block">
      <button (click)="auth()" routerLink="/game-area">
        Ok
      </button>
    </div>
  </div>
  <app-game-area *ngIf="isAuth" [name]='name'></app-game-area>
  